div.container {
  border: 1px solid transparent;
  box-shadow: 5px 10px 20px #6285ae;
  border-radius: 20px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 980px;
  height: 700px;
  margin: 10px auto;
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/043/630/original/sunny_day.gif?1660508888");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.navbar {
  margin: 50px 0;
  font-family: "DynaPuff", cursive;
}
.time {
  font-family: "DynaPuff", cursive;
  font-size: 20px;
  color: white;
}
#current-city {
  text-align: center;
  color: rgb(70, 70, 211);
  font-family: "DynaPuff", cursive;
}
div.form-group {
  display: block;
  margin: 0 auto;
  width: 300px;
  margin-top: 50px;
  margin-bottom: 50px;
}

div.temperature {
  text-align: center;
  color: rgb(70, 70, 211);
  font-family: "DynaPuff", cursive;
  font-size: 50px;
}

.conditions-information {
  text-align: center;
  margin-top: 16px;
  font-weight: 500;
  color: rgb(70, 70, 211);
  font-family: "DynaPuff", cursive;
  line-height: 30px;
}
.week {
  border: 1px solid transparent;
  border-radius: 10px;
  margin-top: 30px;
}
.day {
  text-transform: uppercase;
  font-family: "DynaPuff", cursive;
  color: rgb(62, 62, 174);
  font-weight: bold;
}
.tomorrow {
  margin-top: 40px;
}
.aftertomorrow {
  margin-top: 20px;
}
.row {
  text-align: center;
  font-family: "Padauk", sans-serif;
}

.sun {
  color: rgb(215, 188, 54);
  font-size: 40px;
}
.icon {
  color: #007bff;
  font-size: 40px;
}

footer {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 10px;
  font-family: "PT Mono", monospace;
  font-size: 18px;
}
.week {
  display: grid;
  row-gap: 10px;
}
.week-day:hover {
  background: whitesmoke;
  color: black;
  border-radius: 20px;
  transition: all 200ms ease-in-out;
  cursor: pointer;
}
