.container {
  border: 1px solid transparent;
  box-shadow: 5px 10px 20px #6285ae;
  border-radius: 20px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 950px;
  height: 690px;
  margin: 10px auto;
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/043/630/original/sunny_day.gif?1660508888");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.navbar {
  margin: 50px 0;
  font-family: "DynaPuff", cursive;
}
.time {
  -webkit-text-stroke: 1px rgb(93, 147, 229);
  font-family: "DynaPuff", cursive;
  font-size: 20px;
  color: white;
}
#current-city {
  text-align: center;
  color: rgb(70, 70, 211);
  font-family: "DynaPuff", cursive;
}
.form-group {
  display: block;
  margin: 0 auto;
  width: 300px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.temperature {
  text-align: center;
  color: rgb(70, 70, 211);
  font-family: "DynaPuff", cursive;
  font-size: 50px;
}

.conditions-information {
  text-align: center;
  margin-top: 18px;
  font-weight: 500;
  color: rgb(70, 70, 211);
  font-family: "DynaPuff", cursive;
  line-height: 40px;
}
.week {
  border: 1px solid transparent;
  border-radius: 10px;
  margin-top: 55px;
}
.day {
  text-transform: uppercase;
  font-family: "DynaPuff", cursive;
  color: rgb(62, 62, 174);
  font-weight: bold;
}
.tomorrow,
.aftertomorrow {
  margin: 50px auto;
  color: rgb(37, 61, 125);
}

.row {
  text-align: center;
  font-family: "DynaPuff", cursive;
}

.week {
  display: grid;
  row-gap: 10px;
  color: rgb(37, 61, 125);
  font-family: "DynaPuff", cursive;
}

footer {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 10px;
  font-family: "PT Mono", monospace;
  font-size: 18px;
}
