.container {
  border: 1px solid transparent;
  box-shadow: 5px 10px 20px #6285ae;
  border-radius: 20px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  margin: 10px auto;
  background-color: #6db3f2;
  font-family: "DynaPuff", cursive;
  color: white;
}
.app {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 400px 400px;
}
.navbar {
  margin: 30px 0;
}
.submit {
  background-color: #fff !important;
  border: 1px solid transparent !important;
  color: #6c757d !important;
}
.time {
  -webkit-text-stroke: 1px rgb(116, 136, 166);
  font-family: "DynaPuff", cursive;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}
#current-city {
  text-align: center;

  -webkit-text-stroke: 1px rgb(57, 127, 232);
  font-size: 50px;
}
.form-group {
  display: block;
  margin: 0 auto;
  width: 300px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.temperature {
  text-align: center;

  -webkit-text-stroke: 1px rgb(57, 127, 232);
  font-size: 50px;
}
.active {
  cursor: default;
  color: #fff;
  -webkit-text-stroke: 1px rgb(57, 127, 232);
}
.active:hover {
  text-decoration: none;
  color: #fff;
  -webkit-text-stroke: 1px rgb(57, 127, 232);
}
.conditions-information {
  text-align: center;
  margin: 0 auto;
  margin-top: 20px;
  font-weight: bold;
  font-size: 25px;

  -webkit-text-stroke: 1px rgb(116, 136, 166);
  line-height: 40px;
}
.image-humidity {
  margin-right: -20px;
  width: 80px;
}
.image-wind {
  margin-left: 40px;
  margin-right: -10px;
  width: 70px;
}
.forecast {
  margin-top: 30px;
  text-align: center;
  line-height: 40px;
}
.forecast-date {
  font-size: 25px;
  border: 1px solid rgba(255, 255, 255, 0.245);
  border-radius: 30px;
}
.forecast-temperature {
  font-size: 20px;
  border: 1px solid rgba(255, 255, 255, 0.245);
  border-radius: 30px;
}
.forecast-temperature-min {
  opacity: 0.8;
}

footer {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 10px;
  font-family: "PT Mono", monospace;
  font-size: 18px;
}
